#### Map fucntion help us in avoiding unnecessary line on code and we can apply the operation on all values or items in an iterable

### Syntax of Map()

list(map(function,iterable))

In [1]:
print(list(map(lambda x:x**2,[1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [2]:
abc=[1,2,3,4,5]
print(list(map(lambda x:x**2,abc)))

[1, 4, 9, 16, 25]

In [4]:
def sq(x):
    return x**2

abc=[1,2,3,4,5]
print(list(map(sq,abc)))

[1, 4, 9, 16, 25]

In [5]:
print(list(map(lambda x,y:x+y, [1,2,3],[4,5,6])))

[5, 7, 9]

In [6]:
print(list(map(int,['1','2','3','4','5'])))

[1, 2, 3, 4, 5]

In [10]:
print(list(map(str.upper,['apple','banana','cherry'])))

['APPLE', 'BANANA', 'CHERRY']

In [11]:
type(str)

type

In [13]:
employee_data =[{'Name':'John', 'Age':28, 'Salary':50000},
                  {'Name':'Jane', 'Age':32, 'Salary':60000},    
                  {'Name':'Doe', 'Age':25, 'Salary':45000}]

print(list(map(lambda emp: emp['Age'],employee_data)))

[28, 32, 25]